h1,p,li{
  font-family:helvetica; 
  color: white;
}
h2,h3,h4,ul{
  font-family:verdana;
  color:#9488E4;
}
body {
    background-image:url("68.media.tumblr.com/90d14bc3c54a3daabd04bc8e61cc295a/tumblr_inline_n258ovpRe81qhwjx8.gif");
}
h3{
  font-size:24px
}
